# SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>
#
# SPDX-License-Identifier: Apache-2.0

.idea/
.vscode/
coverage/
dist/
docs/generated/
node_modules/
tmp/

# stryker temp files and reports
.stryker-tmp
reports/
